<p>To reset your password please click on the URL.</p>

<!-- Generates the new password url for the user -->
<%= edit_password_reset_url(@user.password_reset_token) %>

<p>If you did not reset your password then ignore this email.</p>